@import url("./colors.css");

* {
  font-family: UbuntuMono Nerd Font Propo;
  font-size: 14px;
  border-radius: 20px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

button:hover {
  background: inherit;
}

#custom-logo {
  color: @foreground;
}

#workspaces button {
  margin: 4px;
}

#workspaces button.active {
  color: @cyan;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button,
#cava,
#pulseaudio,
#network,
#bluetooth,
#custom-dualsense,
#cpu,
#memory,
#temperature,
#tray,
#clock {
  padding: 0 10px;
  color: @purple;
  background-color: @purple-background;
}

#custom-playerctl {
  color: @foreground;
}

#pulseaudio.muted {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#temperature.critical {
  color: @red;
}

menu {
  background-color: @background;
  border: 1px solid @selection;
  color: @foreground;
}

menuitem {
  padding: 6px 10px;
}

menuitem:hover {
  background-color: @selection;
}

separator {
  background-color: @selection;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}
